# Colors
[colors]
foreground          {{term.color15}}
background  {{term.color0}}



# Bright colors
black = {{term.color8}}
red  = {{term.color9}}
green = {{term.color10}}
yellow = {{term.color11}}
blue = {{term.color12}}
magenta = {{term.color13}}
cyan = {{term.color14}}
white = {{term.color15}}

# Font settings


# Window settings
window_padding_width = {{padding.x}}
window_padding_height = {{padding.y}}
background_opacity = {{opacity.terminal}}
