[colors.normal]
black = '{{term.color0}}'
red = '{{term.color1}}'
green = '{{term.color2}}'
yellow = '{{term.color3}}'
blue = '{{term.color4}}'
magenta = '{{term.color5}}'
cyan = '{{term.color6}}'
white = '{{term.color7}}'


[colors.bright]
black    = '{{term.color8}}'
red      = '{{term.color9}}'
green    = '{{term.color10}}'
yellow   = '{{term.color11}}'
blue     = '{{term.color12}}'
magenta  = '{{term.color13}}'
cyan     = '{{term.color14}}'
white    = '{{term.color15}}'

[colors.primary]
background             #{{term.color0}}'
foreground            #'{{term.color15}}'

[font]
size = {{font.size}}

[font.normal]
family = "{{font.mono}}"

[[keyboard.bindings]]
action = "SpawnNewInstance"
key = "Return"
mods = "Control|Shift"

[window]
opacity = {{opacity.terminal}}

[window.padding]
x = {{padding.x}}
y = {{padding.y}}
